{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        cljsjs/nodejs-externs {:mvn/version "1.0.4-1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :build-js-app {:main-opts ["-m" "cljs.main" "--optimizations" "advanced" "--target" "node" "--output-to" "target/app.js" "--compile" "app.core"]}
           :build-js-test {:extra-deps {pjstadig/humane-test-output {:mvn/version "0.11.0"}}
                           :extra-paths ["test"]
                           :main-opts ["-m" "cljs.main" "--target" "node" "--output-to" "target/test.js" "--compile" "app.run-all"]}
           :uberjar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:jar "target/hours-counter.jar"
                                 :aot true
                                 :main-class app.core
                                 :compile-ns :all
                                 :no-pom true
                                 :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}
           :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main"]}
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.01.20"}}
                       :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}}}
